WEB SCRAPING for Page 1

In [51]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [52]:
final = []
HEADERS = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36'}
url = "https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav"
response = requests.get(url,headers=HEADERS).text

In [53]:
soup=BeautifulSoup(response,'html.parser')

In [54]:
#print(soup.prettify())

In [55]:
company=soup.find_all('div',class_='companyCardWrapper')

In [56]:
len(company)

20

In [57]:
name=[]
rating=[]
reviews=[]
companytype=[]
for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('span',class_='companyCardWrapper__companyRatingValue').text.strip())
    reviews.append(i.find('span' , class_='companyCardWrapper__ActionCount').text.strip())
    companytype.append(i.find_all('span',class_='companyCardWrapper__interLinking')[0].text.strip())
df=pd.DataFrame({'name':name,
    'rating':rating,
    'reviews':reviews,
    # 'companytype':companytype})

In [58]:
#display(df)

In [59]:
pip install lxml

Requirement already satisfied: lxml in c:\users\sejal\appdata\local\programs\python\python312\lib\site-packages (5.2.1)
Note: you may need to restart the kernel to use updated packages.

WEB SCRAPING for Multiple pages (1 to 100):

In [71]:
name2=[] 
rating2=[]
reviews2=[]
companytype2=[]



for j in range(1,101):
    #webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page={}'.format(j)).text
    response = requests.get("https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=" + str(j),headers=HEADERS).text
    soup2 = BeautifulSoup(response,'lxml')
    company2 = soup2.find_all('div',class_='companyCardWrapper')
    
    
    for i in company2:
        name2.append(i.find('h2').text.strip())
        rating2.append(i.find('span',class_='companyCardWrapper__companyRatingValue').text.strip())
        reviews2.append(i.find('span' , class_='companyCardWrapper__ActionCount').text.strip())
        companytype2.append(i.find_all('span',class_='companyCardWrapper__interLinking')[0].text.strip())
        


df2=pd.DataFrame({'name':name2,'rating':rating2,'reviews':reviews2,'companytype':companytype2})

In [63]:
display(df2)

,name,rating,reviews,companytype
0,TCS,3.8,74.9k,IT Services & Consulting | 1 Lakh+ Employees |...
1,Accenture,4.0,47.5k,IT Services & Consulting | 1 Lakh+ Employees |...
2,Cognizant,3.9,42.8k,IT Services & Consulting | 1 Lakh+ Employees |...
3,Wipro,3.8,40.3k,IT Services & Consulting | 1 Lakh+ Employees |...
4,Capgemini,3.9,34.9k,IT Services & Consulting | 1 Lakh+ Employees |...
...,...,...,...,...
1995,Gujarat Heavy Chemicals,4.1,371,Chemicals | 1k-5k Employees | Public | 41 year...
1996,Blackrock,3.9,376,Management Consulting | 1k-5k Employees | Forb...
1997,People Tech Group,2.8,376,IT Services & Consulting | 1k-5k Employees | 1...
1998,V.S.T Tillers Tractors,3.6,374,Industrial Machinery | 201-500 Employees | Pub...
1999,Marble Box,4.3,370,BPO | 501-1k Employees | MNC | 22 years old | ...